@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.bg-navy-800 {
  background-color: #1e3a8a;
}

.bg-navy-900 {
  background-color: #1e3a5f;
}